@{
    ViewBag.Title = "About Me";
}
<h1>@ViewBag.Title</h1>
@*<h3>@ViewBag.Message</h3>*@

@*<p>Use this area to provide additional information.</p>*@

<h2>Current Projects:</h2>
<ul>
    <li>Notify App <a href=""></a>
        <ul>
            <li>Multi-platform</li>
            <li>Multit-hreaded</li>
            <li></li>
        </ul>
    </li>
</ul>

<h2>Past Projects:</h2>
<ul>
    <li>This website!
        <ul>
            <li></li>
        </ul>
    </li>
    <li>Target Tap Game
        <ul>
            
        </ul>
    </li>
</ul>