@{
    ViewBag.Title = "Work History";
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>*@


<h2>Work History</h2>

<ul>
    <li><h4>Susquehanna International Group LLP.</h4></li>
    <li><h5>Market Data Software Engineer</h5></li>

    <br />

    <li><h4>Susquehanna International Group LLP.</h4></li>
    <li><h5>Market Data Software Engineer</h5></li>
</ul>
