@{
    ViewBag.Title = "Work History";
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>*@


<h2>Development Life Cycle Work History</h2>

<br />

<h4>Susquehanna International Group LLP.</h4>
<ul>
    <li><h5>Market Data Software Engineer</h5></li>
</ul>

<h4>Susquehanna International Group LLP.</h4>
<ul>
    <li><h5>Corporate Applications Software Engineer</h5></li>
</ul>

<h4>Drexel University</h4>
<ul>
    <li><h5>Student Software Engineer</h5></li>
</ul>

<h4>ModelQ</h4>
<ul>
    <li><h5>QA Tester</h5></li>
</ul>
